*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(40, 40, 70);
    box-sizing: border-box;
    font-family:'Montserrat', sans-serif;
    font-size: 10.76;
    color: white;
    margin: 0;
    font-style: normal;
}

.WhatClirntsSay{
    background-color: rgba(0, 10, 55, 0.3);
    color: white;
    padding: 15px;
}

.FeedbackUlHorizontal{
    
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style:none;
}

.StarsUlHorizontal{
    display: flex;
    list-style:none;
}

.smallText{
    font-size: 14px;
}

#HCentral{
    text-align:center;
    margin: 0 auto;
}

#CentralText{
    text-align:center;
    box-sizing: border-box;
    width: 27%;
    margin: 0 auto;
    padding: 7px;
}

#Star li{
    margin: 1px;
}

#FeedbackBox{
    margin: 20px;
    padding: 20px;
    background-color: white;
    color:black;
    width: 300px;
}

/* Nozdrin Oleksii */

.Boxes{
    height: 890px;
}

.case-holder{
    display: flex;
    justify-content: space-between;
}

.case{
    margin-right: 30px;
    margin-top: 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    width: 328px;
    height: 112px;
    background: #FAFAFA;
    border: 1px solid #E2E2E2;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.case2{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 50px 0px;
        width: 1050px;
        height: 148px;
        flex: none;
        order: 2;
        flex-grow: 0;
}

.Box4Text{
    margin-left: 193px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 45px 0px;
    width: 1050px;
    height: 197px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.Box4Button{
    margin-left: 193px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 45px 0px;
    width: 1050px;
    height: 197px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.Box4Button2{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
    width: 349px;
    height: 48px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.Button1{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 36px;
    gap: 10px;
    width: 185px;
    height: 48px;
    background: #FF7B47;
    border-radius: 37px;
    border: 0px;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.Button2{
     box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 36px;
    gap: 10px;
    width: 154px;
    height: 48px;
    color:#FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 37px;
    background-color: rgb(40, 40, 70);
    flex: none;
    order: 1;
    flex-grow: 0;
}

.BigText{
    width: 171px;
    height: 77px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 57px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.SmallText{
    width: 511px;
    height: 40px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align:left;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.incase{
    display: flex;

}

.textincase{
    margin-left: 15px;
    margin-top: 22px;
    width: 160px;
    height: 24px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #737373;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.textincase2{
        width: 113px;
        height: 28px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 28px;
        text-align: center;
        letter-spacing: 0.2px;
        color: #FFFFFF;
        flex: none;
        order: 0;
        flex-grow: 0;
}


/* Sofiia Tymofieieva */
/* Там де відступ перед текстом(2 справа), так і було у figma */

/* Налаштування основого div */
.myrr {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* padding: 50px; */
    padding-bottom: 50px;

    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/* Налаштування для тексту заголовку */
.myrr-ka {
    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    margin-bottom: 120px;

    flex: none;
    order: 0;
    align-self: center;
    flex-grow: 0;
}

.myrr-ka>h2 {
    max-width: 252px;
    /* height: 57px; */

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 57px;

    text-align: center;
    letter-spacing: 0.2px;

    color: #FFFFFF;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.myrr-ka>p {
    max-width: 511px;
    /* height: 40px; */

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;

    text-align: center;
    letter-spacing: 0.2px;

    color: #FFFFFF;

    flex: none;
    order: 1;
    flex-grow: 0;
}

/* Налаштування для картинки і тексту */

.myrr-chik {
    display: flex;
    flex-direction: row;
    align-items: center;

    position: relative;
    width: 100%;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap; */

    /* width: 1053px; */
    height: 442px;

    flex: none;
    order: 1;
    align-self: flex-start;
    flex-grow: 0;
}

/* Якщо ширина екрану стане 800 і менше пікселей, змінюємо певні параметри(із колонок в строки) */
@media (max-width: 800px) {
    .myrr-chik {
        display: flex;
        flex-direction: row;
        align-items: center;

        position: relative;
        width: 100%;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        /* width: 1053px; */
        height: 100%;

        flex: none;
        order: 1;
        align-self: flex-start;
        flex-grow: 0;
    }
    .myrr-ka {
        display: flex;
        flex-direction: column;
        align-items: center;
    
        margin-bottom: 30px;
    
        flex: none;
        order: 0;
        align-self: center;
        flex-grow: 0;
    }
    .myrr-chikimage {
        background: url('Images/media\ bg-cover.png') no-repeat;
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
        background-size: contain;
        background-position: center;
        width: 100%;
        height: 450px;
    }
}

/* Налаштування для кнопки */
@media (max-width: 700px) {
    .myrr-chikbtn {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 24.4px 18.4px !important;
    
        background: #0D5C63;
        border: none;
        border-radius: 73.6px;
    
        cursor: pointer;
    }
    .myrr-chikbtn>img {
        width: 50%;
    }
}

/* Налаштування для кнопки */
@media (max-width: 400px) {
    .myrr-chikbtn {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 17.4px 12.4px !important;
    
        background: #0D5C63;
        border: none;
        border-radius: 73.6px;
    
        cursor: pointer;
    }
    .myrr-chikbtn>img {
        width: 50%;
    }
}

/* Налаштування для картинки(відео), мяу */
.myrr-chikimage {
    background: url('Images/media\ bg-cover.png') no-repeat;

    margin-right: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-size: contain;
    background-position: center;
    width: 70%;
    height: 450px;
}

/* Налаштування для кнопки */
.myrr-chikbtn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 34.8px 36.8px;

    background: #0D5C63;
    border: none;
    border-radius: 73.6px;

    cursor: pointer;
}

/* Налаштування для тексту(всі наступні також налаштовують текст) */
.myrr-chikinfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    max-width: 333px;
    /* height: 438px; */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.myrr-chiktext {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    /* width: 330px; */
    height: 224px;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.myrr-chiktext>h2 {
    /* max-width: 324px; */
    /* height: 114px; */

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 57px;

    letter-spacing: 0.2px;

    color: #FFFFFF;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.myrr-chiktext>p {
    max-width: 330px;
    /* height: 60px; */

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;

    letter-spacing: 0.2px;

    color: #FFFFFF;

    flex: none;
    order: 1;
    flex-grow: 0;
}

.myrr-chiktext2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 12px;

    /* width: 333px; */
    /* height: 77px; */

    border-radius: 9px;

    flex: none;
    order: 1;
    flex-grow: 0;
}

.myrr-chiktext2>div {
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    /* width: 329px; */
    /* height: 77px; */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.myrr-chiktext2>div>img {
    /* width: 32px; */
    /* height: 32px; */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.myrr-chiksubtext {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    /* width: 277px; */
    /* height: 77px; */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.myrr-chiksubtext>h5,
.myrr-chiktext3>div>div>h5 {
    /* width: 277px; */
    /* height: 48px; */

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;

    letter-spacing: 0.1px;

    color: #FFFFFF;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.myrr-chiksubtext>h6,
.myrr-chiktext3>div>div>h6 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;

    letter-spacing: 0.2px;

    color: #FFFFFF;

    flex: none;
    order: 1;
    flex-grow: 0;
}

.myrr-chiktext3,
.myrr-chiktext3>div,
.myrr-chiktext3>div>div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    border-radius: 9px;

    flex: none;
    order: 2;
    flex-grow: 0;
}
footer
{
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 100px;
    background: rgb(30, 30, 54);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
footer .footer1
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}
footer .footer1 .Second
{
    margin-right: 30px;
}

footer .footer1 .Second.footer2
{
    width: 40%;
}

footer .footer1 h2
{
    position: relative;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
}

footer .footer1 h2:before
{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px; 
    background: #fffb00;
}
.footer1 p:hover {
 cursor: default;
}
footer h2:hover 
{
    cursor: default;
}

footer p {
    color: #999;
}

.sci 
{
    margin-top: 20px;
    display: flex;
}
.sci li 
{
    list-style: none;
}
.sci li a 
{
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 4px ;
}
.sci li a:hover
{
    background: #fffb00;
    
}
.Links 
{
    position: relative;
    width: 25%;
}

.quickLinks ul li
{
    list-style: none;
}

.quickLinks ul li a
{
    color: #999;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
}

.quickLinks ul li a:hover
{
    color: #fff;
}
.Contacts
{
    width: calc(35% - 60px);
    margin-right: 0 !important;
}

.Contacts .Contact_info
{
    position: relative;
}

.Contacts .Contact_info li 
{
    display: flex;
    margin-bottom: 16px;
}

.Contacts .Contact_info li
{
    color: #999;
}
.Contacts .Contact_info li span:nth-child(1)
{
    color: #fff;
    font-size: 20px;
    margin-right: 10px;

}

.Contacts .Contact_info li:hover
{
    color: #fff;
}

.Copyright
{
    width: 100%;
    background: #181818;
    padding:  8px 100px;
    text-align: center;
    color: #999;
}

.Art1 {
    width: 80%;
    max-width: 1170px;
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    grid-gap: 100px 50px;
}
.Art1 .Art1_left {
    display: flex;
    align-items: center;
}

.Art1 .Art1_left .Art1_content {
    padding-right: 50px;
    padding-left: 50px;
}

.Art1 .Art1_left .Art1_content p {
    color: #fff;
    font-size: 16px;
    line-height: 26px;
    padding-bottom: 15px;
}


.Art1 .Art1_right {
    overflow: hidden;
}

.Art1 .Art1_right img {
    width: 100%;
    height: 100%;
    padding-left: 100px;
}

a {
    text-decoration: none; 
}
.header-page {
    z-index: 2;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 22px 0;
    
}
.container {
    width: 1000px;
    margin: 0 auto;
    padding: 0 15px;
} 
.logo {
    color: white;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    margin-right: 0px;
    margin-left: 0px;
}
.page-cont {
    display: flex;
    justify-content: space-between;
}
.list {
    list-style: none;
    margin: 0;
    padding-left: 150px;
}
.menu {
    display: flex;
}
.item-menu {
    margin-right: 21px;
}
.main-title {
    font-weight: 800;
font-size: 58px;
line-height: 80px;
/* or 138% */
color: white;
letter-spacing: 0.2px;
}
.poster {
    padding: 211px;
}
.bcg {
    background-image:linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)),url(./cover.jpg); 
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
}
.btn:hover {
    background: #FF7B47;   
}
.btn {
    background: rgba(0, 0, 0, 0);
    border-radius: 37px;
    align-items: center;
    padding: 10px 36px;
    gap: 10px;
    border: 1px solid white;
    color: white;
}
.item-menu a {
    color: white;
}

.btn-wrap
{
   margin-top: 20px;
}



.Class1
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Container_Team {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px;
}

.Container_Team  .Card {
    position: relative;
    max-width: 300px;
    height: 250px;
    background: #fff;
    margin: 30px 10px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
    transition: 0.3s ease-in-out;
}

.Container_Team  .Card .Image1 {
    position: relative;
    width: 260px;
    height: 240px;
    top: -60px;
    left: 5px;
    z-index: 1;
    border-radius: 10px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

.Container_Team  .Card .Image1 img 
{
    width: 100%;
    border-radius: 10px;
    height: 100%;
    display: block;
}

.Container_Team  .Card .Text_content 
{
    position: relative;
    margin-top: -140px;
    padding: 10px 15px;
    text-align: center;
    color: #111;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
}

.Container_Team  .Card:hover .Text_content
{
    visibility: visible;
    opacity: 1;
    margin-top: -40px;
    transition-delay: 0.3s;
    border: 100px;
} 
.Container_Team .Card:hover
{
    height: 420px;
}


.Our_team_h {
    display: inline-block;
}
.Team_h2 {
    font-size:  5em;
    letter-spacing: 10px;
    font-family: monospace;
    border-right: 5px solid;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation: 
       typing 2s , steps(8)
       cursor .4s step-end infinite alternate;
}

@keyframes cursor {
    50% { border-color: transparent }
}

@keyframes typing {
    from { width: 0 }
}

fa-brands, .fab {
    font-weight: 400;
    font-size: 30px;
}