*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(40, 40, 70);
    font-family: 'Montserrat';
}

.WhatClirntsSay{
    background-color: rgba(0, 10, 55, 0.3);
    color: white;
    padding: 15px;
}

.FeedbackUlHorizontal{
    display: flex;
    justify-content: space-evenly;
    list-style:none;
}

.StarsUlHorizontal{
    display: flex;
    list-style:none;
}

.smallText{
    font-size: 14px;
}

#HCentral{
    text-align:center;
    margin: 0 auto;
}

#CentralText{
    text-align:center;
    box-sizing: border-box;
    width: 27%;
    margin: 0 auto;
    padding: 7px;
}

#Star li{
    margin: 1px;
}

#FeedbackBox{
    margin: 20px;
    padding: 20px;
    background-color: white;
    color:black;
    width: 300px;
}

/* Sofiia Tymofieieva */

.kotik {
    height: 890px;
}

.myrr {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 100px;
    gap: 100px;

    width: 1050px;
    height: 854px;
}

.myrr-ka {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;

    width: 864px;
    height: 112px;

    flex: none;
    order: 0;
    align-self: center;
    flex-grow: 0;
}

.myrr-ka>h2 {
    width: 252px;
    height: 57px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 57px;

    text-align: center;
    letter-spacing: 0.2px;

    color: #FFFFFF;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.myrr-ka>p {
    width: 511px;
    height: 40px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;

    text-align: center;
    letter-spacing: 0.2px;

    color: #FFFFFF;

    flex: none;
    order: 1;
    flex-grow: 0;
}

.myrr-chik {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 120px;

    width: 1053px;
    height: 442px;

    flex: none;
    order: 1;
    align-self: flex-start;
    flex-grow: 0;
}

.myrr-chikmedia {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 35px;

    width: 600px;
    height: 442px;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.myrr-chikmedia>div {
    box-sizing: border-box;

    width: 597px;
    height: 442px;

    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 14.58%, rgba(56, 56, 56, 0.84) 100%);
    border: 1px solid linear-gradient(180deg, rgba(0, 0, 0, 0) 14.58%, rgba(56, 56, 56, 0.84) 100%);
    border-radius: 5px;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.myrr-chikimage {
    background-image: url('images/media\ bg-cover.png');
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    height: 100%;
}

.myrr-chikbtn {
    align-items: center;
    padding: 34.8px 36.8px;

    background: #0D5C63;
    border: none;
    border-radius: 73.6px;

    cursor: pointer;
}

.myrr-chikinfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 30px;

    width: 333px;
    height: 438px;

    flex: none;
    order: 1;
    flex-grow: 0;
}

.myrr-chiktext {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 5px 0px;
    gap: 10px;

    width: 330px;
    height: 224px;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.myrr-chiktext>h2 {
    width: 324px;
    height: 114px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 57px;

    letter-spacing: 0.2px;

    color: #FFFFFF;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.myrr-chiktext>p {
    width: 330px;
    height: 60px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;

    letter-spacing: 0.2px;

    color: #FFFFFF;

    flex: none;
    order: 1;
    flex-grow: 0;
}

.myrr-chiktext2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    width: 333px;
    height: 77px;

    border-radius: 9px;

    flex: none;
    order: 1;
    flex-grow: 0;
}

.myrr-chiktext2>div {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;

    width: 329px;
    height: 77px;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.myrr-chiktext2>div>img {
    width: 32px;
    height: 32px;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.myrr-chiksubtext {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 5px;

    width: 277px;
    height: 77px;

    flex: none;
    order: 1;
    flex-grow: 0;
}

.myrr-chiksubtext>h5,
.myrr-chiktext3>div>div>h5 {
    width: 277px;
    height: 48px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;

    letter-spacing: 0.1px;

    color: #FFFFFF;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.myrr-chiksubtext>h6,
.myrr-chiktext3>div>div>h6 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;

    letter-spacing: 0.2px;

    color: #FFFFFF;

    flex: none;
    order: 1;
    flex-grow: 0;
}

.myrr-chiktext3,
.myrr-chiktext3>div,
.myrr-chiktext3>div>div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    border-radius: 9px;

    flex: none;
    order: 2;
    flex-grow: 0;
}



